pipeline/highmark_file_load.json
{
	"name": "highmark_file_load",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Dataset_DelimitedText_ADLS_Gen2_Delete",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": {
								"value": "po-warehouse-data",
								"type": "Expression"
							},
							"FolderPath": {
								"value": "@pipeline().parameters.file_path",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"ordinal": 1
											},
											"sink": {
												"name": "Member ID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 2
											},
											"sink": {
												"name": "Payroll location",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 3
											},
											"sink": {
												"name": "Claim Number",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 4
											},
											"sink": {
												"name": "Claim Detail Line Number",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 5
											},
											"sink": {
												"name": "Claim Service Begin Date",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 6
											},
											"sink": {
												"name": "Claim Service End Date",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 7
											},
											"sink": {
												"name": "Procedure Code 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 8
											},
											"sink": {
												"name": "Procedure Code 1 Type",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 9
											},
											"sink": {
												"name": "Paid Date",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 10
											},
											"sink": {
												"name": "Paid Amount",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 11
											},
											"sink": {
												"name": "Allowed Amount",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 12
											},
											"sink": {
												"name": "Deductible",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 13
											},
											"sink": {
												"name": "Coinsurance",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 14
											},
											"sink": {
												"name": "Copay",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 15
											},
											"sink": {
												"name": "Claim Type",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 16
											},
											"sink": {
												"name": "Bill Type",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 17
											},
											"sink": {
												"name": "Revenue Code",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 18
											},
											"sink": {
												"name": "Claim Status",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 19
											},
											"sink": {
												"name": "Type of Admission",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 20
											},
											"sink": {
												"name": "Diagnosis Code One",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dataset_DelimitedText_ADLS_Gen2_Source",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "po-warehouse-data",
										"FolderPath": {
											"value": "@pipeline().parameters.file_path",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"FirstRowHeader": {
											"value": "false",
											"type": "Expression"
										},
										"ColumnDelimiter": {
											"value": "\t",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Dataset_AzureSql_Table_Sink",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "land",
										"TableName": "tbl_medical_claim_highmark",
										"DatabaseName": "db-po-warehouse-dev-eus"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"file_path": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Tredence_Adhoc_Pipelines_for_data_ingestion"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-16T06:04:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}